# Python cache & bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
*/venv/

# Environment variables
*.env

# Databases
*.db
*.sqlite3

# Flask migrations cache
migrations/

# Logs
*.log

# VSCode settings
.vscode/

# Docker artifacts
*.pid
*.seed
*.bak
*.tar
*.gz
*.tgz

# OS files
.DS_Store
Thumbs.db
